body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://wallpaperaccess.com/full/1472763.jpg);
    font-family: "Wix Madefor Text", sans-serif;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/1472763.jpg);
    background-size: cover;
    transition: filter 3s ease; 
    z-index: -1; 
}

body.loaded::before {
    filter: blur(0px);
}


table {
    border-collapse: collapse;
    width: 100%;
    font-weight: 100;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

th {
    text-align: left;
    position: relative;
}

th, td {
    background-color: #ffffff33;
    color: #fff;
    padding: 10px;
}

th {
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.table-container {
    position: relative;
    border-radius: 0px; 
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    height: 300px;
    max-height: 300px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione uma barra de rolagem vertical caso a tabela exceda a altura máxima */
}
.table-container-empty {
    position: relative;
    width: 100%; /* Ajuste a largura desejada para a tabela vazia */
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Cor de fundo azul */
}

.table-container-empty img {
    height: 50%; /* Mantém a proporção da imagem */
    width: auto;
}
.header {
    background-color: #88b257;
    padding: 10px;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 840px;
    right: 735px; 
    background-color: #88b257;
    padding: 10px;
    border-radius: 10px 10px 10px 10px; 
    transition: bottom 0.5s ease; 
    z-index: 1;
    height: 45px;
    width: 240px;
}

.footer-arrow {
    position: absolute;
    bottom: 775px;
    right: 900px;
    background-color: #88b257;
    padding: 10px 0px 10px ;
    border-radius: 10px 10px 10px 10px; 
    cursor: pointer;
    display: none;
    transition: right 0.5s ease; 
    font-size: 30px;
    display: flex; 
    align-items: center; 
    background-color: #88b257;
    padding: 10px; 
}

.footer-arrow:hover {
    background-color: #7aa74d; 
}

.footer-arrow img {
    width: 35px;
    height: 35px;
    transform: rotate(90deg); 
    transition: transform 0.5s ease; 
    padding-bottom: 10px;
}

.footer-arrow.opened img {
    transform: rotate(-90deg); 
}

.footer.opened {
    bottom: 799px; 
}

.footer-content {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    background-color: #88b257;
    padding: 14px;
    border-radius: 10px; 
    z-index: 2;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer.opened .footer-content {
    display: block;
    opacity: 1;
    transform: translateY(0); 
}

.footer-content a {
    color: white;
    display: block;
    margin-bottom: 10px;
    opacity: 0; 
    transition: opacity 3.5s ease; 
}

.footer.opened .footer-content a {
    opacity: 1; 
    transition: opacity 3.5s ease;
}

img {
    width: 80px;
}

@media only screen and (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        gap: 5px;
    }

    .nav-list a {
        font-size: 16px;
    }

    .footer-content a {
        font-size: 14px;
    }
}
.logo {
    position: absolute;
    top: 59%; /* Ajuste conforme necessário */
    right: 60px; /* Define a distância da margem direita */
    transform: translateY(-50%); /* Centraliza verticalmente */
}


.logo img {
    width: 250px; /* Defina a largura desejada */
    height: auto; /* Mantém a proporção de aspecto */
}

.sort-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sort-btn span {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-btn span.up {
    border-bottom: 5px solid white;
}

.sort-btn span.down {
    border-top: 5px solid white;
}
        .triangle-button {
    display: inline-block;
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none;
    padding: 5px 10px; /* Espaçamento interno */
    cursor: pointer;
    outline: none; /* Remove a borda quando o botão está focado */
    position: relative;
    overflow: hidden; /* Oculta o triângulo que está fora do botão */
}

/* Estilo para o triângulo virado para cima */
.triangle-button.up::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid white;
}

/* Estilo para o triângulo virado para baixo */
.triangle-button.down::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid white;
}
h2 {
    color: #fff;
}
.posicaoNome {
    position: absolute;
    right: 490px;    
}
.corDelete {
    color: red;
}
button{
    background-color: #88b257;
    border: none;
    padding-inline: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}
button{
    background-color: #7aa74d;
}
msg {
    font-size: 19px;
}
.editarColor {
    color: rgb(0, 127, 255);
}
.ordenacaoPrecoSelect,
.ordenacaoQuantidadeSelect,
.ordenacaoNomeSelect {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3ebeb;
}

.ordenacaoPrecoSelect form,
.ordenacaoQuantidadeSelect form,
.ordenacaoNomeSelect form {
    display: flex;
    align-items: center;
}

.ordenacaoPrecoSelect label,
.ordenacaoQuantidadeSelect label,
.ordenacaoNomeSelect label {
    margin-right: 10px;
    font-weight: bold;
}

.ordenacaoPrecoSelect select,
.ordenacaoQuantidadeSelect select,
.ordenacaoNomeSelect select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ordenacaoPrecoSelect input[type="submit"],
.ordenacaoQuantidadeSelect input[type="submit"],
.ordenacaoNomeSelect input[type="submit"] {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #7aa74d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ordenacaoPrecoSelect input[type="submit"]:hover,
.ordenacaoQuantidadeSelect input[type="submit"]:hover,
.ordenacaoNomeSelect input[type="submit"]:hover {
    background-color: #000000;
}
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7aa74d;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo do botão ao passar o mouse */
.botao:hover {
    background-color: #000000;
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: absolute;
    left: 900px;
    top: 21.5%;
}
.cardVazia {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 17%;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: absolute;
    left: 490px;
    top: 21.5%;
    align-items: center;
}
.ordenacao {
    left: 380px;
    top: 20%;
}
